
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Dashboard" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Dashboard" %}</h1>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <span dir="ltr" class="h2 mb-0 text-success">{{request.user.agent.total_visas}}</span>
                    <p class="small text-muted mb-0">{% trans "Total Pilgrims" %}</p>
                  </div>
                  <div class="col-auto">
                    <span class="fe fe-32 fe-user text-muted mb-0"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if request.user.agent.can_view_account_statement %}
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <span dir="ltr" class="h2 mb-0  {{request.user.agent.account.balance_color}}">{{request.user.agent.account.balance}}</span>
                    <span class="small">{{request.user.agent.company.settings.get_default_currency_display}} </span>

                    <p class="small text-muted mb-0">{% trans "Account Balance" %}</p>
                  </div>
                  <div class="col-auto">
                    <span class="fe fe-32 fe-dollar-sign text-muted mb-0"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
{% endblock %}