{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Dashboard" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Dashboard" %}</h1>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{request.user.agent.total_visas}}</h3>
  
                  <p>{% trans "Total Pilgrims" %}</p>
                </div>
                <div class="icon">
                  <i class="ion ion-contacts"></i>
                </div>
                <a href="#" class="small-box-footer">{% trans "Season" %}: 1445</a>
              </div>
            </div>
            <!-- ./col -->
            
            <!-- ./col -->
           
            <!-- ./col -->
            {% comment %} <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>65</h3>
  
                  <p>Unique Visitors</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col --> {% endcomment %}
          </div>
          <!-- /.row -->
          <!-- Main row -->
          
{% endblock %}