{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Arrival Vouchers" %} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include "error.html" %}
      <!-- Content Header (Page header) -->
      

      <div class="row align-items-center my-3">
        <div class="col">
          <h2 class="page-title">{% trans "Voucher " %} - UP-{{voucher.id}}</h2>
        </div>
        <div class="col-auto">
              

              
              {% if voucher %}
              <button type="button" class="btn btn-primary printButton swalDefaultSuccess"
                    onClick="popupCenter({url: '{% url 'agent_arrival_voucher_print' voucher.id %}', title: 'xtf', w: 900, h: 900});" id="printVoucher" >
                    {% trans "Print Voucher" %} 
              </button>
              {% endif %}
              {% if allow_edit %}
              <button class="btn btn-success swalDefaultSuccess" type="submit" id="saveButton" onClick="document.getElementById('arrival_voucher_form').submit();" 
              >{% trans "Save" %}</button>
              {% endif %}
              {% if allow_submit %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submit">
                  {% trans "Submit to Company" %}
                </button>
              {% endif %}
        </div>
      </div>
  
      
    
      <!-- Main content -->
      <section class="content">
        <form method="post" id="arrival_voucher_form" class="form">
          {% csrf_token %}
        <div class="container-fluid">
            <div class="card shadow">
              <div class="card-body">
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="group-details-tab" data-toggle="tab" href="#group_details" role="tab" aria-controls="group-details" aria-selected="false">{% trans "Group Details" %}</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" id="flight-details-tab" data-toggle="tab" href="#flight_details" role="tab" aria-controls="flight-details" aria-selected="false">{% trans "Flight Details" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="accommodation-tab" data-toggle="tab" href="#accommodation_details" role="tab" aria-controls="accommodation" aria-selected="false">{% trans "Accommodation" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="transport-tab" data-toggle="tab" href="#transport_details" role="tab" aria-controls="transport" aria-selected="false">{% trans "Transport" %}</a>
                </ul>
                <div class="tab-content" id="myTabContent">
                  
                  <div class="tab-pane fade show active" id="group_details" role="tabpanel" aria-labelledby="group-details-tab"> 
 
                  {% for field in group_details_form %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    
                            <div class="form-group col-md-4">
                                {{ field|as_crispy_field }}
                            </div>
                    
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </div>
                    {% endif %}
                  {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="flight_details" role="tabpanel" aria-labelledby="flight-details-tab"> 
                    {% for field in arrival_voucher_flight_details_form %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    
                            <div class="form-group col-md-4">
                                {{ field|as_crispy_field }}
                            </div>
                    
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </div>
                    {% endif %}
                  {% endfor %}

                  </div>
                  <div class="tab-pane fade" id="accommodation_details" role="tabpanel" aria-labelledby="accommodation-details-tab"> 
                    {% for field in arrival_voucher_accommodation_details_form %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    
                            <div class="form-group col-md-4">
                                {{ field|as_crispy_field }}
                            </div>
                    
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </div>
                    {% endif %}
                  {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="transport_details" role="tabpanel" aria-labelledby="transport-details-tab"> 
                    {% for field in transport_brn_form %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="row">
                    {% endif %}
                    
                            <div class="form-group col-md-4">
                                {{ field|as_crispy_field }}
                            </div>
                    
                    {% if forloop.counter|divisibleby:3 or forloop.last %}
                        </div>
                    {% endif %}
                  {% endfor %}
                    <div class="card card-dark">
                      <div class="card-header">
                      <h3 class="card-title">{% trans "Trips" %}</h3>
      
                      <div class="card-tools" {% if request.LANGUAGE_CODE == 'ar' %}style="float: left;"{% endif %} >
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <a href="javascript:;" onclick="popupCenter({url: '{% url "voucher_movement_history" voucher.id %}', title: 'xtf', w: 900, h: 900});" class="btn btn-sm"><i class="fas fa-history" aria-hidden="true"></i> {% trans "Trips History" %}</a>
                          
                      </div>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="table-responsive">
                    {% if voucher %}
                      {% csrf_token %}
                      {{ transport_formset.non_form_errors.as_ul }}
                        <table id="formset" class="table table-bordered table-sm table-hover" >
                          
                        {% for form in transport_formset.forms %}
                          {% if forloop.first %}
                          <thead><tr>
                            {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                          </tr></thead>
                          {% endif %}
                          <tr class="{% cycle row1 row2 %}">
                          {% for field in form.visible_fields %}
                            <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                              {% endfor %}
                            {% endif %}
                              {{ field }}
                              <div class="text-danger">{{ field.errors.as_ul }}</div>
                            </td>
                          {% endfor %}
                            
                            {% endfor %}
                        </table>
                        {% for hidden in transport_formset.management_form %}
                          {{ hidden }}
                        {% endfor %}
                      {% else %}
                      <p>{% trans "Trips will be shown when you save voucher first time." %}</p>
                      {% endif %}
                      </div>
                      
      
                  </div>
                  <div >           
                </div>
                <!-- /.card -->
                </div>
              </div>
            </div>
          </form>

    

            </div>
            
          </div>
            <!-- /.card -->
          </div>
        </div>
          </div>
          <!-- /.row -->
        </div>
        </section>


      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

   {% if allow_submit %}
    <div class="modal fade" id="submit">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Submit" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{% trans "This Voucher will be sent to Umrah Company. Are you sure?" %}</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans "Close" %}</button>
            <form action="{% url 'agent_submit_arrival_voucher' voucher.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">{% trans "Submit" %}</button>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
   {% endif %}






{% endblock %}

{% block datatables_script %}

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>


{% endblock datatables_script %}






