{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% comment %} {% load my_filter %} {% endcomment %}
{% block title %} {% trans "Transport Companies" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Transport Companies" %}</h1>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="card card-success card-outline">
          <div class="card-body">
            <button type="button" class="btn btn-success swalDefaultSuccess" onClick="popupCenter({url: '{% url "transport_company_add" %}', title: 'xtf', w: 900, h: 900});">
              {% trans "Add New Company" %} 
            </button>
          </div>
          <!-- /.card -->
        </div>

        <div class="card">
          <div class="card-body">
                <table id="dataTable" class="data-table table table-bordered table-striped table-sm">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Company Name" %}</th>
                    <th>{% trans "Account No." %}</th>
                    <th>{% trans "Balance" %}</th>

                    <th>{% trans "Action" %}</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for company in companies %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{company}}</td>
                      <td>{{company.account.code}}</td>
                      <td>
                      <strong><span dir="ltr" class="{{company.account.balance_color}}">{{company.account.balance}}</span></strong>
                      </td>

                      <td>
                        {% if company.account %}
                        <a href="{% url "account_view" company.account.id %}"   class="btn btn-link btn-sm"><i class="fe fe-eye fe-16"></i></a>
                        <a onClick="popupCenter({url: '{% url 'edit_transport_company' company.id %}', title: 'xtf', w: 900, h: 900});"   class="btn btn-link btn-sm"><i class="fe fe-edit fe-16"></i></a>
                        {% endif %}
                      </td>

                    </tr>
                    {% endfor %}

                    </tbody>
                    
                  </table>
              
            
            
            </div>

            
            </div>
          </div>

                      <!-- /.card-header -->
                      <div class="card-body">
                        
                        </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
        
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block datatables_script %}

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>


{% endblock datatables_script %}


