
{% extends 'print_document_header.html' %}
{% load static %}
{% load my_filter %}
{% load i18n %}
{% block page_content %}

<style type="text/css">
    @font-face {
        font-family: ArialUnicode;
        src: url("static/Arial Unicode.ttf")
    }
    <!-- other stuff here -->
    body {
        margin: 0;
        font-family: "ArialUnicode", sans-serif;
    }
    
    <!-- more css here -->
</style>





        <h4>{% trans "Treasury Transactions Report" %}</h4>
        
        <table class="table table-bordered table-sm" >
            <tr>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "From Date" %} </th>
                <td style="">{% if request.GET.date_min %}{{request.GET.date_min}}{% else %}{% trans "Not Specified" %}{% endif %}</td>
                <th style="" class="align-middle" >{% trans "To Date" %}</th>
                <td style="text-align: center;"> {% if request.GET.date_max %}{{request.GET.date_max}}{% else %}{% trans "Not Specified" %}{% endif %}</td>
            </tr>
            
            <tr >
            </tr>
        </table>
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans "Transaction No." %}</th>
                <th scope="col">{% trans "Date" %} - {% trans "Time" %}</th>
                <th scope="col">{% trans "Credit" %}</th>
                <th scope="col">{% trans "Debit" %}</th>
                <th scope="col">{% trans "Reason" %}</th>
                <th scope="col">{% trans "Payment method" %}</th>
              </tr>
            </thead>
            <tbody>
                {% for voucher in transactions %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{voucher.id}}</td>

                <td>{{voucher.date|date:'d/m/Y'}} - {{voucher.time|date:'H:i:s'}}</td>
                <td><strong>{% if voucher.transaction_type == 'c'  %}{{voucher.amount}}{% endif %}</strong></td>
                <td><strong>{% if voucher.transaction_type == 'd'  %}{{voucher.amount}}{% endif %}</strong></td>

                <td>{{voucher.reason}}</td>
                <td>{{voucher.get_payment_by_display}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>  
        <table class="table table-bordered table-sm" >
            <tr>
                <h6>{% trans "Report Summary" %} {% if detailed == True %}{% trans "Detailed" %}{% endif %}</h6>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "From Date" %} </th>
                <td style="">{% if request.GET.date_min %}{{request.GET.date_min}}{% else %}{% trans "Not Specified" %}{% endif %}</td>
                <th style="" class="align-middle" >{% trans "To Date" %}</th>
                <td style="text-align: center;"> {% if request.GET.date_max %}{{request.GET.date_max}}{% else %}{% trans "Not Specified" %}{% endif %}</td>
            </tr>
            
            <tr>
                <th style="" class="align-middle" >{% trans "Total amount deposited" %} </th>
                <th style="text-align: center;" colspan="3">{{total_amount_deposit}}</th>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "Total" %} {% trans "Office Expenses" %}</th>
                <th style="text-align: center;" colspan="3">{{total_expenses}}</th>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "Total" %} {% trans "Salaries" %}</th>
                <th style="text-align: center;" colspan="3">{{total_salaries}}</th>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "Total debit amount" %}</th>
                <th style="text-align: center;" colspan="3">{{total_debit}}</th>
            </tr>
            <tr>
                <th style="" class="align-middle" >{% trans "Print Date" %}</th>
                <th style="text-align: center;" colspan="3">{{print_date|date:"d/m/Y - H:s"}}</th>
            </tr>
            
        </table>
          


       
{% endblock page_content %}