{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Arrival Vouchers" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include "error.html" %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Arrival Vouchers" %}</h1>
              
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="card card-success card-outline">
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#arrival_voucher_add_form">
              {% trans "Add New Arrival Voucher" %}
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".modal-filter">{% trans "Filter" %}</button>

          </div>
          <!-- /.card -->
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{% trans "Arrival Vouchers" %}</h3>


            <div class="card-tools" {% if request.LANGUAGE_CODE == 'ar' %}style="float: left;"{% endif %} >
              
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="search" name="q" class="form-control float-right" placeholder="{% trans "Search" %}"
                hx-get="{% url 'search_view' %}?status={% if request.GET.status %}{{request.GET.status}}{% endif %}"
                hx-trigger="input changed delay:500ms, search, load"
                hx-target="#search-results" 
                hx-swap="outerHTML"
                
                >



                <div class="input-group-append">
                  <button  class="btn btn-default">
                    <div class="htmx-indicator spinner-border text-primary spinner-border-sm" role="status"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
            
          <div class="table-responsive" id="search-results">
            <table id="dataTable" class="table table-bordered table-striped table-sm table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>{% trans "Voucher " %}</th>
                  <th>{% trans "Agent Reference No" %}</th>
                  <th>{% trans "BRN" %}</th>
                  <th>{% trans "Agent" %}</th>
                  <th>{% trans "Country" %}</th>
                  <th>{% trans "PAX" %}</th>
                  <th>{% trans "Group no" %}</th>
                  {% comment %} <th>{% trans "Status" %}</th> {% endcomment %}
                  <th>{% trans "Transport Company" %}</th>
                  <th>{% trans "Type" %}</th>
                  <th>{% trans "Status" %}</th>
                  <th>{% trans "Starting Date" %}</th>
                  <th>{% trans "Total Movements" %}</th>
                  <th>{% trans "Completed" %}</th>
                  <th>{% trans "Action" %}</th>
                </tr>
              </thead>
              <tbody >
                    

              </tbody>    
            </table>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="arrival_voucher_add_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add Arrival Voucher" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method='post' action='{% url 'add_arrival_voucher' %}'>
                  {% csrf_token %}
                  {{add_voucher_form.as_p}}                       
              </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
          </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal modal-filter " tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <form method='get' action=''>
    
          <div class="modal-header">
            <h5 class="modal-title" id="defaultModalLabel">{% trans "Filter" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="filter-form" method="GET" hx-get="{% url 'search_view' %}" hx-target="#search-results">
             {{filter_form.as_p}}


          </div>
          <div class="modal-footer">
            <button type="submit" name="filter" value="1" class="btn btn-secondary btn-block" hx-trigger="click">{% trans "Display Records" %}</button>
          </div>
        </div>
      </form>
    
      </div>
    </div>

{% endblock %}

{% block datatables_script %}

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>


{% endblock datatables_script %}

