{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Arrival Vouchers" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include "error.html" %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Arrival Vouchers" %}</h1>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="card card-success card-outline">
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#arrival_voucher_add_form">
              {% trans "Add New Arrival Voucher" %} 
            </button>
          </div>
          <!-- /.card -->
        </div>
        <div class="card">
          <div class="card-body small">
                
                  <!-- your_template.html -->
                  <div hx-get="{% url 'arrival_vouchers_list_htmx' %}?page=2" hx-target="#your-data-container">
                    <!-- This will be replaced with the paginated data -->
                    <div id="your-data-container">
                        {% include 'arrival_voucher_list_htmx_1.html' with arrival_vouchers=arrival_vouchers %}
                    </div>
                  </div>
              
              
              
            </div>

            
            </div>
          </div>
          
          <div class="modal fade" id="arrival_voucher_add_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Add Arrival Voucher" %}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method='post' action='{% url 'add_arrival_voucher' %}'>
                        {% csrf_token %}
                        {{add_voucher_form.as_p}}                       
                    </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                </form>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
              </div>
            </div>
          </div>
        
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block datatables_script %}

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>


{% endblock datatables_script %}






