{% load static %}

🔵إشعار رحلة🔵
شركة مزايا النقل لخدمات الزوار والمعتمرين
فوتشر: 34540
برنامج: 5785
أمر التشغيل: 0470
الجنسية: الهند
الرحلة: فندق المدينة  - مطار جدة 
التاريخ: 2024-01-14
الوقت: 14:00
الوجهات: -مرور بدر
عدد الركاب: 50
السائق: خير الزين رحيمي زين زينوري
2557174774
966535267309
رقم المركبة : 196
 رقم اللوحة : ا ر ب7292
رقم الحجز: مطلوب 51 مقعد

🔵Trip Notification🔵
Mazaya Transport Company for Visitors and Pilgrims Services
Voucher: 34540
Reference: 5785
Nationality: India
Route: Madinah Hotel - Jeddah Airport
Date: 2024-01-14
Time: 14:00
PAX: 50
Type: Bus
Driver: Khair Al-Zain Rahimi Zain Zainouri
Mobile: 055267309
Plate No: ا ر ب7292
Vehicle No: 196
Booking No: 51 seats required
```


