{% load i18n %}


{% load i18n %}

    <p class="text-muted nav-heading mt-4 mb-1">
      <span>{% trans "Operations" %}</span>
      </p>

    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item w-100">
        <a class="nav-link" href="{% url 'agent_arrival_vouchers_list' %}">
          <i class="fe fe-file-text fe-16"></i>
          <span class="ml-3 item-text">{% trans "Arrival Vouchers" %}</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav flex-fill w-100 mb-2">
      <li class="nav-item dropdown">
        <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-calendar fe-16"></i>
          <span class="ml-3 item-text">{% trans "Operating Schedule" %}</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'agent_operating_schedule' 'tomorrow' %}"><span class="ml-1 item-text">{% trans "Tomorrow" %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'agent_operating_schedule' 'today' %}"><span class="ml-1 item-text">{% trans "Today" %}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="{% url 'agent_operating_schedule' 'yesterday' %}"><span class="ml-1 item-text">{% trans "Yesterday" %}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    
    
</ul>








































