{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "vouchers List" %} {% endblock %}
{% block content %}
{% load my_filter %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Visa Invoices" %}</h1>

            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
      {% include "error.html" %}

      <div class="card card-success card-outline">
        <div class="card-body">
          <button type="button" class="btn btn-primary swalDefaultSuccess" 
          onClick="popupCenter({url: '{% url 'add_new_voucher' 'sub_agent_voucher' %}', title: 'xtf', w: 900, h: 900});">
            {% trans "Add New Voucher" %} 
          </button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#initial-prices">
            {% trans "Initial Prices" %}
          </button>
          {% comment %} <button type="button" class="btn btn-success swalDefaultSuccess" onClick="window.open('add/', title: 'xtf', w: 900, h: 900});">
            {% trans "Voucher with  Added Details" %} 
          </button>
          <button type="button" class="btn btn-danger swalDefaultSuccess" onClick="window.open('add/', title: 'xtf', w: 900, h: 900});">
            {% trans "Voucher Details not Added" %} 
          </button> {% endcomment %}
        </div>
        <!-- /.card -->
      </div>
      <div class="card card-success card-outline">
        
      </div>

                <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        {% comment %} <table id="dataTable" class="data-table table table-bordered table-hover table-striped table-sm" >
                          <thead class="thead-dark">
                          <tr>
                            <th>#</th>
                            <th>{% trans "Voucher" %}</th>
                            <th>{% trans "PAX" %}</th>
                            <th>{% trans "Issue Date" %}</th>
                            <th>{% trans "Amount" %}</th>
                            <th>{% trans "Group No" %}</th>
                            <th>{% trans "Agent" %}</th>
                            <th>{% trans "Agent type" %}</th>
                            <th>{% trans "Action" %}</th>
                          </tr>
                          </thead>
                          <tbody>
                            {% for voucher in vouchers %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{voucher}}</td>
                              <td><strong>{{voucher.pax}}</strong></td>
                              <td>{{voucher.date|date:"d/m/Y"}}</td>
                              <td><strong>{{voucher.voucher_total.sale_price|replace_commas}}</strong></td> 
                              <td>{{voucher.group_no}}</td>
                              <td>{{voucher.agent.name}}</td>
                              <td>{{voucher.agent.get_agent_type_display}}</td>
                              <td align="center">
                                <a onClick="popupCenter({url: '{% url 'edit_voucher' 'sub_agent_voucher' voucher.id %}', title: 'xtf', w: 900, h: 900});"   class="btn btn-link btn-sm"><i class="fe fe-edit fe-16"></i></a>
                                <a onClick="popupCenter({url: '{% url 'print_voucher' 'sub_agent_voucher' voucher.id %}', title: 'xtf', w: 900, h: 900});"  class="btn btn-link btn-sm"><i class="fe fe-printer fe-16"></i></a>
                              </td>                         
                            </tr>
                            {% endfor %}
                            </tbody>
                          </table> {% endcomment %}
                            <table id="ajax_datatable_agent_voucher" class="table table-bordered table-hover table-striped ">
                            </table>
                        
                        ...
                        {% block datatable_script %}
                        <script language="javascript">
                        
                          $(document).ready(function() {
                              AjaxDatatableViewUtils.initialize_table(
                                  $('#ajax_datatable_agent_voucher'),
                                  "{% url 'ajax_datatable_agent_voucher' %}",
                                  {
                                      // extra_options (example)
                                      processing: false,
                                      autoWidth: false,
                                      full_row_select: true,
                                      scrollX: true,
                                      searching: true,
                                      paging: true,
                                      dom: 'Blrtip',
                                      buttons: [
                                        'excel', 'print'
                                      ],
                                      "lengthChange": true,
                                      
                                  }, {
                                      // extra_data
                                      // ...
                                  },
                              );
                          });
                      
                      </script>
                        {% endblock datatable_script %}
                        
                    </div>
                  </div>
                </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="initial-prices">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{% trans "Initial Prices" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card card-success card-outline">
              <div class="card-body">
                <form class"form-group" method="post" action="{% url 'initial_voucher_price' %}">
                  {% csrf_token %}
                <h6>{% trans "Basic Fees" %}</h6>
                <table class="table table-bordered   table-sm" style="text-align: left;">
                  <tbody>
                    <tr>
                      <th>{% trans "Ground Services Fees" %}</th>
                      <td>
                          <input type="number" name="ground_services_price" class="form-control input-sm" step="0.01"  required value="{{initial_prices.ground_services_price|replace_commas}}">
                      </td>
                      <th>{% trans "Additional Services Fees" %}</th>
                      <td>
                        <input type="number" name="additional_services_price" class="form-control input-sm" step="0.01"  required value="{{initial_prices.additional_services_price|replace_commas}}">
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Processing Fees" %}</th>
                      <td>
                        <input type="number" name="processing_fees" class="form-control input-sm" step="0.01"  required value="{{initial_prices.processing_fees|replace_commas}}">
                      </td>
                      <th>{% trans "Visa Fees" %}</th>
                      <td>
                        <input type="number" name="visa_fees" class="form-control input-sm" step="0.01"  required value="{{initial_prices.visa_fees|replace_commas}}">
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Insurance Fees" %}</th>
                      <td>
                        <input type="number" name="insurance_price" class="form-control input-sm" step="0.01"  required value="{{initial_prices.insurance_price|replace_commas}}">
  
                      </td>
                      <th>{% trans "Transport BRN" %}</th>
                      <td>
                          <input type="number" name="transport_brn_price" class="form-control input-sm" step="0.01"  required value="{{initial_prices.transport_brn_price|replace_commas}}">
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Makkah BRN" %}</th>
                      <td>
                          <input type="number" name="makkah_brn_price" class="form-control input-sm" step="0.01"  required value="{{initial_prices.makkah_brn_price|replace_commas}}">
                      </td>
                      <th>{% trans "Medina BRN" %}</th>
                      <td>
                          <input type="number" name="medina_brn_price" class="form-control input-sm" step="0.01"   required value="{{initial_prices.medina_brn_price|replace_commas}}">
                      </td>
                    </tr>
              </table>
            </div>
            <div class="card card-success card-outline">
              <div class="card-body">
                <h6>{% trans "Returns" %}</h6>
                <table class="table table-bordered   table-sm" style="text-align: left;">
                  <tbody>
  
                   <tr>
                      <th>{% trans "Transport BRN" %}/{% trans "per 1 person" %}</th>
                      <td>
                          <input type="number" name="transport_brn_return" class="form-control input-sm" step="0.01" required value="{{initial_prices.transport_brn_return|replace_commas}}">
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Makkah BRN" %}/{% trans "per 1 person" %}</th>
                      <td>
                          <input type="number" name="makkah_brn_return" class="form-control input-sm" step="0.01" required value="{{initial_prices.makkah_brn_return|replace_commas}}">
                      </td>
                      <th>{% trans "Medina BRN" %}/{% trans "per 1 person" %}</th>
                      <td>
                          <input type="number" name="medina_brn_return" class="form-control input-sm" step="0.01" required value="{{initial_prices.medina_brn_return|replace_commas}}">
                      </td>
                    </tr>
              </table>
              </div>
            </div>
            
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
          </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

 
{% endblock %}


