{% load i18n %}
{% load static %}
{% include 'print/company_header.html' %}
        <div class="invoice">
            <div class "invoice-header">
                {%if request.GET.type == 'transport_request'%}
                <h3>{% trans "Transport Request" %}</h3>
                {% else %}
                <h3>{% trans "Arrival Voucher" %}</h3>
                {% endif %}


            </div>
            <div class="invoice-details">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <p><strong>{% trans "Voucher " %}: UP-{{voucher.id}}</strong></p>
                        {%if request.GET.type != 'transport_request'%}
                        <p><strong>{% trans "Agent" %}:</strong> {{voucher.agent}}</p>
                        {% endif %}
                        <p><strong>{% trans "Country" %}:</strong> {{voucher.country}}</p>
                        <p><strong>{% trans "PAX" %}: {{voucher.pax}}</strong></p>
                        {%if request.GET.type != 'transport_request'%}
                        <p><strong>{% trans "Group No" %}:</strong> {{voucher.group_no}}</p>
                        <p><strong>{% trans "Group Leader" %}:</strong> {{voucher.group_leader}} {{voucher.group_leader_contact}}</p>
                        <p><strong>{% trans "Agent Reference No" %}: </strong>{% if voucher.agent_referance_no %}{{voucher.agent_referance_no}}{%endif%}</p>
                        {% endif %}

                        <p><strong>{% trans "Status" %}: </strong>{% if voucher.status %}{{voucher.get_status_display}}{%endif%}</p>
                    </td>
                    <td>
                        <p><strong>{% trans "Transport company" %}:</strong> {% if voucher.transport_company %}{{voucher.transport_company}}{% endif %}</p>
                        <p><strong>{% trans "Transport type" %}:</strong> {% if voucher.transport_type %}{{voucher.transport_type}}{% endif %}</p>
                        <p><strong>{% trans "Transport BRN" %}:</strong> {% if voucher.transport_brn %}{{voucher.transport_brn}}{% endif %}</p>
                    </td>

                <tr>
            </table>






                



            </div>
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Time" %}</th>
                        <th>{% trans "From" %}</th>
                        <th>{% trans "To" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Remarks" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in transport_movements %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{route.date|date:"d/m/Y"}}</td>
                        <td>{{route.time|date:"H:i"}}</td>
                        <td><strong>{{route.route.route_from}}</strong>
                            {% if route.movement_from_hotel %}
                            <br>
                            {{route.movement_from_hotel}}
                            {% endif %}
                            {% if route.route.is_linked_with_arrival_flight %}
                            <br>
                            {{route.flight_no}} - {{route.voucher.arrival_time|date:"H:i"}}
                            {% endif %}
                          </td>
                          <td><strong>{{route.route.route_to}}</strong>
                            {% if route.movement_to_hotel %}
                            <br>
                            {{route.movement_to_hotel}}
                            {% endif %}
                            {% if route.route.is_linked_with_departure_flight %}
                            <br>
                            {{route.flight_no}} - {{route.voucher.departure_time|date:"H:i"}}
                            {% endif %}
                          </td>
                        <td>{{route.type}}</td>

                        <td>
                            {% if route.status %}
                            {{route.get_status_display}}
                            {% endif %}
                        </td>
                        <td>
                            {% if route.remarks %}
                            {{route.remarks}}
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if transport_movements_outside_package %}
            
            <table class="invoice-table">
                <thead>
                    <tr>
                        <td colspan='8'>{% trans "Outside Package" %}</td>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Time" %}</th>
                        <th>{% trans "From" %}</th>
                        <th>{% trans "To" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Remarks" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in transport_movements_outside_package %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{route.date|date:"d/m/Y"}}</td>
                        <td>{{route.time|date:"H:i"}}</td>
                        <td><strong>{{route.route.route_from}}</strong>
                            {% if route.movement_from_hotel %}
                            <br>
                            {{route.movement_from_hotel}}
                            {% endif %}
                            {% if route.route.is_linked_with_arrival_flight %}
                            <br>
                            {{route.flight_no}} - {{route.voucher.arrival_time|date:"H:i"}} {% if route.flight_date_differance %}<sup> {{route.flight_date_differance}}</sup>{% endif %}
                            {% endif %}
                          </td>
                          <td><strong>{{route.route.route_to}}</strong>
                            {% if route.movement_to_hotel %}
                            <br>
                            {{route.movement_to_hotel}}
                            {% endif %}
                            {% if route.route.is_linked_with_departure_flight %}
                            <br>
                            {{route.flight_no}} - {{route.voucher.departure_time|date:"H:i"}} {% if route.flight_date_differance %}<sup> {{route.flight_date_differance}}</sup>{% endif %}
                            {% endif %}
                          </td>
                        <td>{{route.type}}</td>

                        <td>
                            {% if route.status %}
                            {{route.get_status_display}}
                            {% endif %}
                        </td>
                        <td>
                            {% if route.remarks %}
                            {{route.remarks}}
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <table style="width: 100%;">
            <tr>
                <td>
                    {%if request.GET.type != 'transport_request'%}
                    {% if voucher.voucher_remarks %}
                    <p><strong>{% trans "Voucher Remarks" %}:</strong> {{voucher.voucher_remarks}}</p>
                    {% endif %}
                    {% endif %}
                    {% if voucher.transport_remarks %}
                    <p><strong>{% trans "Transport Remarks" %}:</strong> {{voucher.transport_remarks}}</p>
                    {% endif %}
                </td>
                

            <tr>
        </table>

        <footer>
        <div class="footer">
            <p>{% trans "Created with" %} <img width="100px" src="{% static 'assets/images/umrahflow_logo.png'%}" alt="UmrahFlow"> {% trans "Print By" %} {{request.user}} {% trans "Date" %}: {% now "d/m/Y H:i" %}</p>
        </div>
        </footer>
        


    </div>
    
  
</body>
</html>
