{% load i18n %}
<nav class="mt-2">

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">{% trans "Dashboard" %}</li>
        <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>{% trans "Dashboard" %}</p>
            </a>
          </li>
    </ul>
{% comment %}     
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-header">{% trans "Operations" %}</li>
      <li class="nav-item">
          <a href="" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>{% trans "Schedule" %}</p>
            
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
            
          </a>
        </li> {% endcomment %}

        
  </ul>

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">{% trans "Finance and Accounts" %}</li>
        <li class="nav-item">
          <a href="{% url 'treasury' %}" class="nav-link">
              <i class="nav-icon fas fa-vault"></i>
              <p>{% trans "Treasury" %}</p>
            
          </a>
        </li>
     
          <li class="nav-item">
            <a href="{% url 'sub_agent_voucher_list' %}" class="nav-link">
                <i class="nav-icon fas fa-file-invoice"></i>
                <p>{% trans "Agent Vouchers" %}</p>
              
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'payments_agents_list' %}" class="nav-link">
                <i class="nav-icon fas fa-money-check-dollar"></i>
                <p>{% trans "Agent Payments" %}</p>
              
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'office_expenses_list' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill"></i>
                <p>{% trans "Office Expenses" %}</p>
              
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'office_expenses_list' %}" class="nav-link">
                <i class="nav-icon fas fa-money-bill"></i>
                <p>{% trans "Salaries" %}</p>
                
            </a>
          </li>

    </ul>

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">{% trans "Human Resources" %}</li>
        <li class="nav-item">
            <a href="{% url 'employees' %}" class="nav-link">
                <i class="nav-icon fas fa-user-tie"></i>
                <p>{% trans "Employees" %}</p>
              
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'designations' %}" class="nav-link">
                <i class="nav-icon fas fa-bars"></i>
                <p>{% trans "Designations" %}</p>
              
            </a>
          </li>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">---------------------------------------</li>
     
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
                <i class="nav-icon fas fa-right-from-bracket" style="color: red;"></i>
                <p style="color: red;">{% trans "Log out" %}</p>
            </a>
          </li>


    </ul>


    


  </nav>
  <!-- /.sidebar-menu -->