{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %} {% trans "Transport Routes" %} {% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include "error.html" %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">{% trans "Transport Routes" %}</h1>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="card card-success card-outline">
          <div class="card-body">
            <button type="button" class="btn btn-success swalDefaultSuccess" onClick="popupCenter({url: 'add/', title: 'xtf', w: 900, h: 900});">
              {% trans "Add New Route" %} 
            </button>
          </div>
          <!-- /.card -->
        </div>

            <div class="card">
              <div class="card-body">
                    <table id="dataTable" class="data-table table table-bordered table-striped table-sm">
                      <thead>
                      <tr>
                        <th>#</th>
                        
                        <th>{% trans "From" %}</th>
                        <th>{% trans "To" %}</th>
                        <th>{% trans "Distance" %}</th>
                        <th>{% trans "Action" %}</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for route in routes %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{route.route_from}}</td>
                          <td>{{route.route_to}}</td>
                          <td>{{route.distance}}</td>

                          <td>
                            <a onClick="popupCenter({url: '{% url 'edit_transport_route' route.id %}', title: 'xtf', w: 900, h: 900});"   class="btn btn-link btn-sm"><i class="fe fe-edit fe-16"></i></a>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                  
                    </div>
                      </div>
                    </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        
                    </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
    
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block datatables_script %}

<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>


{% endblock datatables_script %}


